.controls{
    /* border: 1px solid red; */
    
    margin-top: 40px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cross-btn{
    border: 1px solid #9e9cad;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: relative;
    box-shadow: inset 5px 5px 10px rgb(183, 183, 206),
                inset -5px -5px 10px rgb(177, 175, 189),
                      0px 0px 0px  1px #dcdae9 
}

.cross-btn div{
    background: rgb(21, 21, 21);
    border-radius: 5px;
    position: absolute;
    width:65px;
    height: 24px;
    top: 30px;
    left: 10px;
}

.cross-btn div:nth-child(1){
    box-shadow: 2px 2px #000,
                inset 0px 3px rgb(148, 148, 148)
}

.cross-btn div:nth-child(2){
    transform: rotate(90deg);
    box-shadow: 2px 0px 1px #000,
                inset 3px 0px rgb(148, 148, 148)
}
