.display{
    display: grid;
    place-items: center;
    width: 250px;
    height: 200px;
    background: rgb(113, 114, 136);
    margin-top: 30px;
    border-radius: 10px 10px 40px 10px;
    box-shadow: 0px 3px rgb(97, 98, 119),
                3px 0px rgb(97, 98, 119),
                inset 3px 0px rgb(154, 155, 176),
                inset 0px 3px rgb(154, 155, 176)
}

.display div {
    width: 160px;
    height: 150px;
    background: rgb(100, 158, 65);
    box-shadow: inset 1px 0px 10px rgb(37, 59, 23),
            	inset 0px 1px 10px rgb(37, 59, 23)
}
