.game-boy{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
    background: #d4d1e5;
    border-radius: 10px 10px 60px 10px;
    box-shadow: inset 5px 0px 10px #6a6875,
                inset 10px 0 10px #ccc7e4,
                inset -5px 0px 10px #6a6875,
                inset -10px 0 10px #ccc7e4,
                inset 0px -5px 10px #6a6875,
                inset 0px -10px 10px #ccc7e4
}